.App-header {
  background-color: 	#88bbd6;
  min-height: 10vh;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer {
  background-color: #88bbd6;
  display: flex;
  height: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}

.NavHeader {
  background-color:	rgb(100,149,237);
  border-style: solid;
  border-bottom-color: rgb(0,0,205);
  border-left-color: rgb(100,149,237);
  border-right-color: rgb(100,149,237);
  border-top-color:  rgb(0,0,205);

  color: white;
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
}

.logout {
  margin-left: auto;
}

.container > div:nth-child(1n) {
  background-color: #96ceb4;	
}


.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}





.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}
.flex-container > div {
  background-color: #99d3df;
  border-radius:1em;
  height:200px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 10px;
}

h1{
  color: white;
}

.flex-container2 {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}

.flex-container2 > div {
  background-color: #99d3df;
  border-radius:1em;
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
}

.flex-container3 {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}

.flex-container3 > div {
  background-color: #99d3df;
  border-radius:1em;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 10px;
}

#item{
  font-size: 10px;
}

body {
  background-color: rgb(100,149,237);
}

img{
  border-radius:1em;
}



.button {
  background-color: white; /* Green */
  border: none;
  color: gray;
  margin: 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.inputfile {
  background-color: white; /* Green */
  border: none;
  color: gray;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}


#content {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

  