.App-header {
  background-color: 	#88bbd6;
  min-height: 10vh;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer {
  background-color: #88bbd6;
  display: flex;
  height: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


.Charge {
  background-color: #99d3df;
  min-height: 10px;
  display: flex;
  height: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


.More {
  background-color: black;
  min-height: 10vh;
  display: flex;
  height: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}









.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}
.flex-container > div {
  background-color: #99d3df;
  border-radius:1em;
  height:200px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 10px;
}

h1{
  color: white;
}

.flex-container2 {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}

.flex-container2 > div {
  background-color: #99d3df;
  border-radius:1em;
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
}

.flex-container3 {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}

.flex-container3 > div {
  background-color: #99d3df;
  border-radius:1em;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 10px;
}

#item{
  font-size: 10px;
}

body {
  background-color: rgb(100,149,237);
}

img{
  border-radius:1em;
}



.button {
  background-color: white; /* Green */
  border: none;
  color: gray;
  margin: 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.inputfile {
  background-color: white; /* Green */
  border: none;
  color: gray;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}


#content {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

  